body {
  margin: 0;
  padding: 0;
  font-family: Arial, Helvetica, sans-serif;
}

.container {
  width: 80%;
  margin: 20px auto;
  padding: 10px;
  border: 1px solid black;
  display: grid;
  gap: 5px;
  grid-template-columns: repeat(5, auto-fit);
  grid-template-rows: repeat(6, 5vw);
  grid-template-areas:
    'merah  hijau   hijau     ungu      ungu'
    'merah  pink    hijaumuda hijaumuda hijaumuda'
    'merah  pink    biru      birutua   birutua'
    'jingga pink    biru      birutua   birutua'
    'jingga kuning  kuning    birutua   birutua'
    'jingga kuning  kuning    birutua   birutua';
}

.container > div {
  display: flex;
  justify-content: center;
  align-items: center;
}

.merah {
  grid-area: merah;
}

.hijau {
  grid-area: hijau;
}

.hijau-muda {
  grid-area: hijaumuda;
}

.ungu {
  grid-area: ungu;
}

.pink {
  grid-area: pink;
}

.jingga {
  grid-area: jingga;
}

.kuning {
  grid-area: kuning;
}

.biru {
  grid-area: biru;
}

.biru-tua {
  grid-area: birutua;
}

.text-center {
  color: #333;
  text-align: center;
}

h1 {
  margin: 10px 0;
}

.text-kuning {
  color: yellow;
}

.b-gray {
  border: 1px solid gray;
}

.b-kuning {
  border: 1px solid yellow;
}

/* Background */

.bg-merah {
  background-color: rgb(255, 50, 50);
}

.bg-hijau {
  background-color: rgb(0, 190, 0);
}

.bg-ungu {
  background-color: rgb(180, 0, 180);
}

.bg-pink {
  background-color: pink;
}

.bg-kuning {
  background-color: rgb(255, 255, 60);
}

.bg-biru-tua {
  background-color: rgb(61, 61, 252);
}

.bg-jingga {
  background-color: rgb(255, 185, 55);
}

